.container {
    margin-top: 15px;
}

#image {
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
}

h1 {
    color: red;
    text-align: center;
}

ul {
    list-style: none;
}

#add-burger {
    text-align: center;
}

#add-button {
    margin-top: 5px;
}